[submodule "Dependencies/NanoMvvm"]
	path = Dependencies/NanoMvvm
	url = https://github.com/exaphaser/NanoMvvm.git
[submodule "Dependencies/MaterialSidebar"]
	path = Dependencies/MaterialSidebar
	url = https://github.com/IridiumIon/MaterialSidebar
